.npmignore
/node_modules/nbproject/private/
/node_modules/build/
/public/nbproject/private/
/public/build/
/src/nbproject/private/
/src/build/
/codigo/src/nbproject/private/
/codigo/src/build/
/node_modules/bin/nbproject/private/
/node_modules/bin/build/
